{% if not current_user.is_anonymous and widget.enabled %}
    <a href="#" title="{% if widget.flagged %}{{ t('flag@dislike') }}{% else %}{{ t('flag@like') }}{% endif %}">
{% endif %}

<i class="icon {{ widget.icon }}"></i>

{% if widget.counter %}
    <span class="count">{{ widget.count }}</span>
{% endif %}

{% if not current_user.is_anonymous and widget.enabled %}
    </a>
{% endif %}
